{% extends 'base.html' %}
  <!-- display: grid; justify-items: center; width: 30vw; -->
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      outline: none;
      overflow-x: hidden;
    }
    .brand {
      font-size: 3rem;
      font-family: "ZCOOL KuaiLe", cursive;
      color: #080708;
    }
    .header {
      font-size: 2em;
    }
    .small-text {
      font-size: 0.6em;
    }
    .form-group {
      width: inherit;
    }

    .btn {
      width: 30vw;
      margin: 3vh 0 3vh 0;
    }

    .footer {
      width: 100%;
      border-top: 5px solid #2c4251;
      background-color: #080708;
      color: #f0eff4;
      padding: 1vw;
      display: flex;
      justify-content: center;
      position: fixed;
      bottom: 0;
    }

    @media screen and (max-width: 992px) and (min-width: 300px) {
      .form-group {
        width: inherit;
      }

      .btn {
        width: 70vw;
        margin: 4vh 0 0 0;
      }
    }
  </style>

  <body>
    {% block content %}
    <div class="login-form-wrapper container-fluid mx-auto">
      <div class="login-form-header m-2">
        <p class="text-center brand">FACEPALM</p>
        <br />
      </div>
      <div class="login-form container-fluid w-75 mx-auto">
        <hr />
        <form action="#" class="form-group mx-auto">
          <div class="form-group row mx-auto">
            <label for="username">Username :</label>
            <input type="text" id="username" class="form-control" />
          </div>

          <div class="form-group row mx-auto">
            <label for="password">Password:</label>
            <input type="password" id="password" class="form-control" />
          </div>
          <div class="form-group row mx-auto w-50">
            <button type="submit" class="btn btn-outline-success">
              Login
            </button>
          </div>
        </form>
        <div class="form-group row mx-auto w-75">
          <a href="signup.html" class="mx-auto w-50"
            ><button class="btn btn-outline-info w-100">
              Sign-up
            </button>
          </a>
        </div>

        <br />
        <br />
      </div>
    </div>
    {% endblock content %}


   